.utility-bar {
    background: var(--card-bg);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    margin-bottom: 25px;
}

.utility-bar > div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/* Style pour les inputs et boutons génériques dans la barre */
/*.utility-bar input, .utility-bar button {*/
/*    padding: 10px 15px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 8px;*/
/*    outline: none;*/
/*}*/

/*.utility-bar button {*/
/*    background: var(--primary);*/
/*    border: none;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*    transition: opacity 0.2s;*/
/*}*/

.utility-bar button:hover {
    opacity: 0.8;
}