ul {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 150px;
}

.title-task {
    text-decoration: underline;
}

.team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 10px;
    margin-top: 5px;
}